.DS_Store
/SteelHacks2018/nbproject/private/
/SteelHacks2018/SteelHacks2018-war/nbproject/private/
/SteelHacks2018/SteelHacks2018-ejb/nbproject/private/
/SteelHacks2018/SteelHacks2018-ejb/build/
/SteelHacks2018/SteelHacks2018-war/build/
/SteelHacks2018/SteelHacks2018-ejb/dist/
/SteelHacks2018/SteelHacks2018-war/dist/